[% META title = 'Add Post' -%]
<form method="post" action="[% c.uri_for(c.controller.action_for('update'),[post.id])%]">
<table>
<tr><td>Title:</td><td><input type="text" name="title" value=[% post.title %]></td></tr>
<tr><td>Body:</td><td><input type="text" name="body" value=[% post.body %]></td></tr>
</table>
<input type="submit" name="Submit" value="Submit">
</form>
